.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 112vh;
  margin: -8px;
  align-items: center;
  font-family: "Inter";
  background-image: url("../imgs/bg1.jpg");
  background-size: cover;
}

.glass {
  position: absolute;
  top: 1em;
  padding: 3em;
  width: 35em;
  height: 100vh;
  z-index: 1;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px rgb(190 147 58);
  transition: 0.5s;
  transition-delay: 1s;
  color: blanchedalmond;
  text-shadow: 1px 1px 8px black;
  border-radius: 15px;
}
.fade{
  position:fixed;
  background: rgba(0,0,0,.3);
  height:100%;
  width:100%;
  left:0;
  top:0;
  z-index:0;
}
.login__form {
  display: flex;
  flex-direction: column;
}

.login__form > h1 {
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.login__form > input {
  min-width: 380px;
  padding: 25px 0;
  padding-left: 15px;
  margin-bottom: 25px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.24);
  font-family: "Inter";
  border-radius: 15px;
  font-size: 20px;
}

.submit__btn {
  padding: 17px 30px;
  margin-top: 10px;
  background: #be933a;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 14px;
  font-family: "Inter";
  border-radius: 3px;
}

.frm-container {
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
}

.frm-opt {
  margin-left: 2em;
  font-size: 20px;
}

h3 {
  display: flex;
}